.checkoutProduct {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  margin-left: 0px;
  padding: 20px;
  padding-left: 0px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.checkoutProduct img {
  flex: 0.3;
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.checkoutProduct__info {
  flex: 0.7;
  height: 100px;
  margin-bottom: 15px;
}

.checkoutProduct button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.checkoutProduct__price {
  margin-top: 5px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__quantity {
  flex-basis: 100%;
  margin-left: 35px;
}
